<!-- navbar.html -->
{% load static %}
<link href="{% static 'css/output.css' %}" rel="stylesheet">
<nav style="bg-base-100 : p-4 shadow-lg;">
    <ul style="display: flex; gap: 20px; list-style-type: none; margin: 0; padding: 0; color: white;">
        <li><a href="{% url 'home:home' %}" style="color: white; text-decoration: none;">Home</a></li>
        <li><a href="{% url 'home:invite' invite_token=user.userprofile.invite_token %}" style="color: white; text-decoration: none;">Invite</a></li>
        
        <!-- Links to specific slide pages -->
        <li><a href="{% url 'slides:slide' page_id=1 %}" style="color: white; text-decoration: none;">Top Artists</a></li>
        <li><a href="{% url 'slides:slide' page_id=2 %}" style="color: white; text-decoration: none;">Top Songs</a></li>
        
        <!-- Users-related links -->
        <li><a href="{% url 'users:account-settings' %}" style="color: white; text-decoration: none;">Account Settings</a></li>
        <li><a href="{% url 'users:login' %}" style="color: white; text-decoration: none;">Log In</a></li>
        <li><a href="{% url 'users:sign-up' %}" style="color: white; text-decoration: none;">Sign Up</a></li>
        <li><a href="{% url 'users:password-change' %}" style="color: white; text-decoration: none;">Change Password</a></li>
    </ul>
</nav>
