<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped Slides</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <style>

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            cursor: default;
            user-select: none;
        }

        body {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: linear-gradient(135deg, #0077FF, #9B2DFF, #000000);
            background-size: 300% 300%;
            animation: gradientAnimation 12s ease infinite;
            margin: 0;
            padding: 0;
        }

        @keyframes gradientAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

        #slide-container {
            animation: slideIn 1.2s ease-out forwards;
            margin-bottom: 30px;
            max-width: 700px;
            width: 100%;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            text-align: center;
            opacity: 0;
        }

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .fade-in {
            opacity: 0;
            animation: fadeInText 1.2s ease-out forwards;
            animation-delay: 0.5s;
        }

        @keyframes fadeInText {
            to {
                opacity: 1;
            }
        }

        /* Navigation zones */
        .slide-navigation-zone {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 25%;
            background-color: transparent;
            transition: background-color 0.3s ease;
            cursor: pointer;
            z-index: 2;
        }

        @media (max-width: 1200px) {
            .slide-navigation-zone {
                width: 30%;  /* Adjust width for medium screens */
            }
        }

        @media (max-width: 768px) {
            .slide-navigation-zone {
                width: 50%;  /* Adjust width for smaller screens */
            }
        }

        .slide-navigation-zone.left {
            left: 0;
        }

        .slide-navigation-zone.right {
            right: 0;
        }

        .slide-navigation-zone:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        #progress-bar-container {
            width: 100%;
            height: 8px;
            background-color: #444;
            border-radius: 50px;
            position: fixed;
            bottom: 0;
            left: 0;
            margin: 0;
        }

        #progress-bar {
            height: 100%;
            background-color: #0077FF;
            border-radius: 50px;
            width: 0%;
            transition: width 0.3s ease;
        }

        #top-button {
            position: fixed;
            top: 10px;  /* Adjust to your desired distance from the top */
            left: 10px;
            border: none;
            cursor: pointer;
            z-index: 1000;  /* Ensures the button stays on top */
        }

        #shareModal {
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999; /* Ensure it’s on top of other elements */
        }

        #shareModal > div {
            background-color: white;
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border-radius: 8px;
        }

    </style>
</head>

<body class="flex items-center w-screen justify-center h-dvh bg-base-200 text-white">

<a href="/home/discover" id="top-button" class="btn btn-circle btn-neutral">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
    </svg>
</a>

<div id="slide-container" class="card card-compact md:card-normal max-h-[3/4] max-w-[3/4] text-center bg-gray-800 rounded-lg shadow-lg transition duration-700 transform">
    <figure>
        <div id="slide-icon" class="flex justify-center fade-in">
            <img class="w-28 h-28" id="slide-icon-img" src="" alt="Slide Icon">
        </div>
    </figure>
    <!-- Dynamic Slide Content -->
    <div class="card-body text-center items-center">
        <div id="slide-title" class="card-title text-2xl md:text-4xl text-center justify-self-center font-bold">Slide Title</div>
        <div id="slide-content" class="w-full">Slide Content goes here...</div>
    </div>
    <div id="card-buttons" class="card-actions">

    </div>
</div>

<div class="slide-navigation-zone left" onclick="prevSlide()"></div>
<div class="slide-navigation-zone right" onclick="nextSlide()"></div>

<div id="progress-bar-container">
    <div id="progress-bar"></div>
</div>

<!-- Hidden Audio Player -->
<audio id="audio-player" hidden autoplay loop data-wrapped="{{ wrapped_object.content.tracks.preview_url }}">
    <source src="" type="audio/mp4">
</audio>

<!-- Make sure the data is rendering properly in your HTML -->
<div id="genres-data" hidden>
    {% if wrapped_object.creator2 %}
        {% if wrapped_object.content.duo1.genres %}
            {% for genre in wrapped_object.content.duo1.genres|slice:":5" %}
                <div class="genre1">
                    <div>{{ genre.genre }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>No genres available.</p>
        {% endif %}
        {% if wrapped_object.content.duo2.genres %}
            {% for genre in wrapped_object.content.duo2.genres|slice:":5" %}
                <div class="genre2">
                    <div>{{ genre.genre }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>No genres available.</p>
        {% endif %}
    {% else %}
        {% if wrapped_object.content.genres %}
            {% for genre in wrapped_object.content.genres|slice:":5" %}
                <div class="genre1">
                    <div>{{ genre.genre }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>No genres available.</p>
        {% endif %}
    {% endif %}
</div>

<div id="songs-data" hidden>
    {% if wrapped_object.creator2 %}
        {% if wrapped_object.content.duo1.tracks %}
            {% for song in wrapped_object.content.duo1.tracks|slice:":5" %}
                <div class="song1">
                    <img src="{{ song.images.url }}" alt="{{ song.name }}">
                    <div>{{ song.name }}</div>
                </div>
            {% endfor %}
        {% endif %}
        {% if wrapped_object.content.duo2.tracks %}
            {% for song in wrapped_object.content.duo2.tracks|slice:":5" %}
                <div class="song2">
                    <img src="{{ song.images.url }}" alt="{{ song.name }}">
                    <div>{{ song.name }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if wrapped_object.content.tracks %}
            {% for song in wrapped_object.content.tracks|slice:":10" %}
                <div class="song1">
                    <img src="{{ song.images.url }}" alt="{{ song.name }}">
                    <div>{{ song.name }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>

<div id="artists-data" hidden>
    {% if wrapped_object.creator2 %}
        {% if wrapped_object.content.duo1.artists %}
            {% for artist in wrapped_object.content.duo1.artists|slice:":5" %}
                <div class="artist1">
                    <img src="{{ artist.images.url }}" alt="{{ artist.name }}">
                    <div>{{ artist.name }}</div>
                </div>
            {% endfor %}
        {% endif %}
        {% if wrapped_object.content.duo2.artists %}
            {% for artist in wrapped_object.content.duo2.artists|slice:":5" %}
                <div class="artist2">
                    <img src="{{ artist.images.url }}" alt="{{ artist.name }}">
                    <div>{{ artist.name }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if wrapped_object.content.artists %}
            {% for artist in wrapped_object.content.artists|slice:":10" %}
                <div class="artist1">
                    <img src="{{ artist.images.url }}" alt="{{ artist.name }}">
                    <div>{{ artist.name }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>


<script>
    // Function to decode HTML entities

    function decodeHTML(html) {
        const txt = document.createElement('textarea');
        txt.innerHTML = html;
        return txt.value;
    }

    // Initialize page ID and timer
    let pageId = 1;
    let slideTimer = setInterval(nextSlide, 7000); 
    let progressBarInterval;
    const progressBar = document.getElementById('progress-bar');

    const audioPlayer = document.getElementById("audio-player");
    audioPlayer.volume = 0.3;

    // Parse music links from Django context
    let musicLinks = [];
    try {
        musicLinks = decodeHTML("{{ wrapped_object.default_content.preview_urls|escapejs }}").replace(/'/g,'"')
        musicLinks = JSON.parse(musicLinks)
        {% if wrapped_object.creator2 %}
            musicLinks2 = decodeHTML("{{ wrapped_object.content.duo2.preview_urls|escapejs }}").replace(/'/g,'"')
            musicLinks = musicLinks + JSON.parse(musicLinks)
        {% endif %}
        //console.log("Music Links:", musicLinks);
    } catch (e) {
        console.error('Failed to parse music links:', e);
    }

    // Function to play a specific track
    function playTrack(trackUrl) {
        const sourceElement = audioPlayer.querySelector('source');

        // Set the new audio source
        sourceElement.src = trackUrl;
        audioPlayer.load(); // Reload the audio player with the new source
        audioPlayer.play(); // Start playback
    }

    // Function to play music based on slide
    let lastPlayedIndex = -1;
    function playMusic() {
        try {
            let randomNumber;
            do {
                randomNumber = Math.floor(Math.random() * musicLinks.length); // Get a random index
            } while (randomNumber === lastPlayedIndex);
            lastPlayedIndex = randomNumber
            playTrack(musicLinks[randomNumber])
        } catch {
            console.warn(`No music available`);
        }
    }

    async function getFlagByCountry(countryName) {
        const response = await fetch(`https://restcountries.com/v3.1/name/${countryName}`);
        const data = await response.json();
        return data[0].flags.png;
    }

    // Function to load content based on page ID
    function loadSlideContent() {
        const slideTitle = document.getElementById("slide-title");
        const slideContent = document.getElementById("slide-content");
        const slideIcon = document.getElementById("slide-icon");
        const slideIconImg = document.getElementById("slide-icon-img");

        slideTitle.style.animation = 'none';
        slideContent.style.animation = 'none';
        slideIcon.style.animation = 'none';

        void slideTitle.offsetWidth;
        void slideContent.offsetWidth;
        void slideIcon.offsetWidth;

        slideTitle.style.animation = '';
        slideContent.style.animation = '';
        slideIcon.style.animation = '';

        let index = 1;

        // Change content based on pageId
        switch (pageId) {
            case 1:
                slideTitle.innerText = "Get Ready to Travel the World with AudioScape";
                slideContent.innerText = "Take a journey through music from across the globe!";
                slideIcon.className = "flex justify-center fade-in"
                slideIconImg.src = "{% static 'css/images/globe.png' %}"
                playMusic();
                break;
            case 2:
                let locations = JSON.parse("{{ wrapped_object.default_content.locations|escapejs }}".replace(/'/g, '"'))

                getFlagByCountry(locations[0].country).then(flag => {
                    slideIconImg.className = "w-40"
                    slideIconImg.src = flag ? flag : "Flag not found"
                });

                let locationListHTML = '<div class="grid grid-cols-1 gap-4">'; // Start an ordered list
                let locationHTML1 = '<div>';
                {% if wrapped_object.creator2 %}
                    locationListHTML = '<div class="grid grid-cols-2 gap-4">'; // Start an ordered list
                    locationHTML1 += `<div class='underline font-black	 text-xl'>{{ wrapped_object.creator1 }}</div>`; // Start an ordered list
                {% endif %}

                locations.forEach(location => {
                    const locationName = location.country;

                    // Add each location to the list as a <li> item
                    locationHTML1 += `<div>${locationName}</div>`;
                });
                locationHTML1 += '</div>'

                let locationHTML2 = '<div>'
                {% if wrapped_object.creator2 %}
                    let locations2 = JSON.parse("{{ wrapped_object.content.duo2.locations|escapejs }}".replace(/'/g, '"'))
                    locationHTML2 += `<div class='underline font-black	 text-xl'>{{ wrapped_object.creator2 }}</div>`; // Start an ordered list
                    locations2.forEach(location => {
                        const locationName = location.country;

                        // Add each location to the list as a <li> item
                        locationHTML2 += `<div>${locationName}</div>`;
                    });
                {% endif %}
                locationHTML2 += '</div>'

                locationListHTML += locationHTML1;
                locationListHTML += locationHTML2;
                locationListHTML += "</div>"; // Close the ordered list

                slideTitle.innerText = "Regions Your Favorite Artists Are From";
                slideContent.innerHTML = locationListHTML;
                break;
            case 3:
                slideIconImg.className = "w-24 h-24"
                slideTitle.innerText = "Genre-ous Moments Ahead";
                slideContent.innerText = "These are the genres you've been loving this year.";
                slideIconImg.src = "{% static 'css/images/generous.png' %}"
                playMusic();
                break;
            case 4:
                let genresListHTML = '<div class="grid grid-cols-1 gap-4">'; // Start a grid layout for genres
                let genresHTML1 = '<div>';
                {% if wrapped_object.creator2 %}
                    genresListHTML = '<div class="grid grid-cols-2 gap-4">'; // Start a grid layout for genres
                    genresHTML1 += `<div class='underline font-black text-xl'>{{ wrapped_object.creator1 }}</div>`; // Add creator1 heading
                {% endif %}

                let genres1 = Array.from(document.getElementById("genres-data").getElementsByClassName("genre1"));
                genres1.forEach(genre => {
                    const genreName = genre.querySelector("div").innerText;

                    // Add each genre to the list
                    genresHTML1 += `<div>${genreName}</div>`;
                });
                genresHTML1 += '</div>';

                let genresHTML2 = '<div>';
                {% if wrapped_object.creator2 %}
                    let genres2 = Array.from(document.getElementById("genres-data").getElementsByClassName("genre2"));
                    genresHTML2 += `<div class='underline font-black text-xl'>{{ wrapped_object.creator2 }}</div>`; // Add creator2 heading

                    // Loop through the second set of genres
                    genres2.forEach(genre => {
                        const genreName = genre.querySelector("div").innerText;

                        // Add each genre to the list
                        genresHTML2 += `<div>${genreName}</div>`;
                    });
                {% endif %}
                genresHTML2 += '</div>';

                genresListHTML += genresHTML1;
                genresListHTML += genresHTML2;

                genresListHTML += "</div>";
                slideIcon.className = "hidden";
                slideTitle.innerText = "Top 5 Genres";
                slideContent.innerHTML = genresListHTML;
                break;
            case 5:
                slideIcon.className = "flex justify-center fade-in"
                slideTitle.innerText = "Counting Down the Beats";
                slideContent.innerText = "Each moment pulses with unstoppable rhythm!";
                playMusic();
                timer();
                break;
            case 6:
                index = 1;
                let songListHTML = '<div class="grid grid-cols-1 md:grid-cols-2 gap-4">'; // Start a grid layout for songs
                let songHTML1 = '<div>';
                let songHTML2 = '<div>';

                {% if wrapped_object.creator2 %}
                    songListHTML = '<div class="grid grid-cols-2 gap-4">'
                    songHTML1 += `<div class='underline font-black text-xl'>{{ wrapped_object.creator1 }}</div>`; // Add creator1 heading
                    let songs1 = Array.from(document.getElementById("songs-data").getElementsByClassName("song1"));
                    songs1.forEach(song => {
                        const rank = index++; // Rank starts from 1
                        const songName = song.querySelector("div").innerText;
                        const songImg = song.querySelector("img").src;

                        // Add each song to the list
                        songHTML1 += `
                        <div class="flex items-center space-x-4">
                            <span class="text-lg font-bold">#${rank}</span>
                            <div class='flex justify-between items-center w-full'>
                                <strong class='text-xs md:text-base'>${songName}</strong>
                                <img class="w-6 md:w-20 rounded-xl" src="${songImg}" alt="${songName || 'Unknown Song'}" />
                            </div>
                        </div>`;
                    });
                    songHTML1 += '</div>';
                    index = 1;
                    let songs2 = Array.from(document.getElementById("songs-data").getElementsByClassName("song2"));
                    songHTML2 += `<div class='underline font-black text-xl'>{{ wrapped_object.creator2 }}</div>`; // Add creator2 heading

                    // Loop through the second set of songs
                    songs2.forEach(song => {
                        const rank = index++; // Rank starts from 1
                        const songName = song.querySelector("div").innerText;
                        const songImg = song.querySelector("img").src;

                        // Add each song to the list
                        songHTML2 += `
                            <div class="flex items-center space-x-4">
                                <span class="text-lg font-bold">#${rank}</span>
                                    <div class='flex justify-between items-center w-full'>
                                    <strong class='text-xs md:text-base'>${songName}</strong>
                                    <img class="w-6 md:w-20 rounded-xl" src="${songImg}" alt="${songName || 'Unknown Song'}" />
                                </div>
                            </div>`;
                    });
                    songHTML2 += '</div>';
                    songListHTML += songHTML1;
                    songListHTML += songHTML2;
                {% else %}
                    let songs = Array.from(document.getElementById("songs-data").getElementsByClassName("song1"));
                    songs.forEach(song => {
                        const rank = index++; // Rank starts from 1
                        const songName = song.querySelector("div").innerText;
                        const songImg = song.querySelector("img").src;

                        // Add each song to the list
                        songListHTML += `
                        <div class="flex items-center space-x-4">
                            <span class="text-lg font-bold">#${rank}</span>
                            <div class='flex justify-between items-center w-full'>
                                <strong>${songName}</strong>
                                <img class="w-12 md:w-20 rounded-xl" src="${songImg}" alt="${songName || 'Unknown Song'}" />
                            </div>
                        </div>`;
                    });
                {% endif %}

                songListHTML += "</div>";
                slideIcon.className = "hidden";
                slideTitle.innerText = "Top Songs";
                slideContent.innerHTML = songListHTML;

                // Close the grid container
                songListHTML += "</div>";

                // Set the content for the slide
                slideContent.innerHTML = songListHTML;
                break;

            case 7:
                slideIcon.className = "flex justify-center fade-in"
                slideTitle.innerText = "Artist Appreciation Time";
                slideContent.innerText = "Celebrating creativity, one masterpiece at a time!";
                slideIconImg.src = "{% static 'css/images/appreciation.png' %}"
                playMusic();
                break;
            case 8:
                index = 1;
                let artistListHTML = '<div class="grid grid-cols-1 md:grid-cols-2 gap-4">'; // Start a grid layout for artists
                let artistHTML1 = '<div>';
                let artistHTML2 = '<div>';

                {% if wrapped_object.creator2 %}
                    artistListHTML = '<div class="grid grid-cols-2 gap-4">'; // Use grid for two creators
                    artistHTML1 += '<div class="underline font-black text-xl">{{ wrapped_object.creator1 }}</div>'; // Add creator1 heading
                    let artists1 = Array.from(document.getElementById("artists-data").getElementsByClassName("artist1"));
                    artists1.forEach(artist => {
                        const rank = index++; // Rank starts from 1
                        const artistName = artist.querySelector("div").innerText;
                        const artistImg = artist.querySelector("img").src;

                        // Add each artist to the list
                        artistHTML1 +=
                            `<div class="flex items-center space-x-4">
                                <span class="text-lg font-bold">#${rank}</span>
                                <div class='flex justify-between items-center w-full'>
                                    <strong class='text-xs md:text-base'>${artistName}</strong>
                                    <img class="w-6 md:w-20 rounded-xl" src="${artistImg}" alt="${artistName || 'Unknown Artist'}" />
                                </div>
                            </div>`;
                    });
                    artistHTML1 += '</div>';
                    index = 1;
                    let artists2 = Array.from(document.getElementById("artists-data").getElementsByClassName("artist2"));
                    artistHTML2 += '<div class="underline font-black text-xl">{{ wrapped_object.creator2 }}</div>'; // Add creator2 heading

                    // Loop through the second set of artists
                    artists2.forEach(artist => {
                        const rank = index++; // Rank starts from 1
                        const artistName = artist.querySelector("div").innerText;
                        const artistImg = artist.querySelector("img").src;

                        // Add each artist to the list
                        artistHTML2 +=
                            `<div class="flex items-center space-x-4">
                                <span class="text-lg font-bold">#${rank}</span>
                                <div class='flex justify-between items-center w-full'>
                                    <strong class='text-xs md:text-base'>${artistName}</strong>
                                    <img class="w-6 md:w-20 rounded-xl" src="${artistImg}" alt="${artistName || 'Unknown Artist'}" />
                                </div>
                            </div>`;
                    });
                        artistHTML2 += '</div>';
                        artistListHTML += artistHTML1;
                        artistListHTML += artistHTML2;
                {% else %}
                    let artists = Array.from(document.getElementById("artists-data").getElementsByClassName("artist1"));
                    artists.forEach(artist => {
                        const rank = index++; // Rank starts from 1
                        const artistName = artist.querySelector("div").innerText;
                        const artistImg = artist.querySelector("img").src;

                        // Add each artist to the list
                        artistListHTML +=
                            `<div class="flex items-center space-x-4">
                                <span class="text-lg font-bold">#${rank}</span>
                                <div class='flex justify-between items-center w-full'>
                                    <strong>${artistName}</strong>
                                    <img class="w-12 md:w-20 rounded-xl" src="${artistImg}" alt="${artistName || 'Unknown Artist'}" />
                                </div>
                            </div>`;
                    });
                {% endif %}

                artistListHTML += "</div>";
                slideIcon.className = "hidden";
                slideTitle.innerText = "Top Artists";

                // Close the grid container
                artistListHTML += "</div>";

                // Set the content for the slide
                slideIcon.className = "hidden";
                slideTitle.innerText = "Top Artists";
                slideContent.innerHTML = artistListHTML;
                break;
            case 9:
                slideIconImg.src = "{% static 'css/images/suitcases.png' %}"
                slideIcon.className = "flex justify-center fade-in"
                slideTitle.innerText = "Pack Your Vibes with AudioScape.AI";
                slideContent.innerText = "Let's see where your music tastes take you!";
                playMusic();
                break;
            case 10:
                slideIcon.className = "hidden"
                slideTitle.innerText = "Your AI Travel Suggestion";
                {% if wrapped_object.creator2 %}
                    const vacation_duo = `<strong>{{ wrapped_object.creator1 }}:</strong><br>
                        {{ wrapped_object.content.duo1.vacation|escapejs }}<br>
                        <strong>{{ wrapped_object.creator2 }}:</strong><br>
                        {{ wrapped_object.content.duo2.vacation|escapejs }}<br>`
                    slideContent.innerHTML = vacation_duo;
                {% else %}
                    const vacation = "{{ wrapped_object.content.vacation|escapejs }}"
                    slideContent.innerText = vacation;
                {% endif %}
                break;
            default:
                const summarySongs = Array.from(document.getElementById("songs-data").getElementsByClassName("song1"));

                let summarySongListHTML = '<div class="flex flex-col justify-start text-center">';
                summarySongs.forEach((song, index) => {
                    if (index >= 5) {
                        return;
                    }
                    const songName = song.querySelector("div").innerText;
                    const songImg = song.querySelector("img").src; // Assuming there's an image in the song element
                    summarySongListHTML += `
                        <div class="flex items-center justify-start mb-2">
                            <span class="text-sm font-semibold mr-2">#${index + 1} </span> <!-- Space between number and name -->
                            <div class='flex justify-between items-center w-full'>
                                <span class="text-xs md:text-sm">${songName}</span>
                                <img class="w-6 h-6 md:w-12 md:h-12 rounded-xl mr-3" src="${songImg}" alt="${songName}" />  <!-- Space between img and number -->
                            </div>
                        </div>`;
                });
                summarySongListHTML += "</div>";

                const summaryArtists = Array.from(document.getElementById("artists-data").getElementsByClassName("artist1"));

                let summaryArtistListHTML = '<div class="flex flex-col justify-start text-center">';
                summaryArtists.forEach((artist, index) => {
                    if (index >= 5) {
                        return;
                    }
                    const artistName = artist.querySelector("div").innerText;
                    const artistImg = artist.querySelector("img").src; // Assuming there's an image for the artist
                    summaryArtistListHTML += `
                    <div class="flex items-center justify-start mb-2">
                        <span class="text-sm font-semibold mr-2">#${index + 1} </span> <!-- Space between number and name -->
                        <div class='flex justify-between items-center w-full'>
                            <span class="text-xs md:text-sm">${artistName}</span>
                            <img class="w-6 h-6 md:w-12 md:h-12 rounded-xl mr-3" src="${artistImg}" alt="${artistName}" />  <!-- Space between img and number -->
                        </div>
                    </div>`;
                });
                summaryArtistListHTML += "</div>";

                const genreName = document.querySelector("#genres-data .genre1").innerText;
                const vacationSpot = "{{ wrapped_object.content.vacation|escapejs }}";
                const cardAction = document.getElementById("card-buttons");
                // share button in bottom-right corner
                const shareButtonHTML = `
                <button id="shareButton" class="p-2 rounded-full bg-blue-500 hover:bg-blue-600 text-white absolute bottom-4 right-4 z-30">
                    <!-- Share SVG Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
                    </svg>
                </button>`;

                // Share Modal HTML (hidden by default)
                const shareModalHTML = `
                <div id="shareModal" class="hidden fixed inset-0 bg-black bg-opacity-80 flex justify-center items-center z-40">
                    <div class="bg-white p-6 rounded-lg w-80 shadow-xl relative">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-lg font-semibold">Share this</h2>
                            <button id="closeShareModal" class="text-gray-500 hover:text-gray-700">&times;</button>
                        </div>
                    <!-- Placeholder for the 4 share icons -->
                        <div class="grid grid-cols-2 gap-4">
                            <button class="share-icon p-2 bg-gray-200 rounded-full">
                            <!-- Placeholder for the first share icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 3.75h-10.5a2.25 2.25 0 0 0-2.25 2.25v12a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-12a2.25 2.25 0 0 0-2.25-2.25zM15 12h-3v6h-2v-6H8v-2h2V7.5c0-2.25 1.5-3 3-3h3v2h-2.5c-.5 0-.5.5-.5.5v2h3l-1.5 2h-2.5v6h2V12z" />
                                </svg>
                            </button>
                        <!-- Add more buttons for the other 3 icons as needed -->
                        </div>
                    </div>
                </div>`;

                cardAction.innerHTML = shareButtonHTML + shareModalHTML;
                slideIcon.className = "hidden";
                slideTitle.innerText = "Summary";
                slideContent.innerHTML =
                    "<div class='text-sm text-center'>Your music journey at a glance!</div>" +
                    "<div class='grid grid-cols-2 gap-3 md:gap-6 md:p-4'>" +
                    "<div class='text-center'>" +
                    "<div class='font-bold text-lg mb-2'>Top Songs</div>" +
                    summarySongListHTML +
                    "</div>" +
                    "<div class='text-center'>" +
                    "<div class='font-bold text-lg mb-2'>Top Artists</div>" +
                    summaryArtistListHTML +
                    "</div>" +
                    "<div class='text-center'>" +
                    "<div class='font-bold text-lg mb-2'>Top Genre</div>" +
                    "<div class='text-sm'>" + genreName + "</div>" +
                    "</div>" +
                    "<div class='text-center'>" +
                    "<div class='font-bold text-lg mb-2'>Vacation Spot</div>" +
                    "<div class='text-sm'>" + vacationSpot + "</div>" +
                    "</div>" +
                    "</div>"

                // Open and close the modal
                document.getElementById('shareButton').addEventListener('click', () => {
                    document.getElementById('shareModal').classList.remove('hidden'); // Show modal
                });

                document.getElementById('closeShareModal').addEventListener('click', () => {
                    document.getElementById('shareModal').classList.add('hidden'); // Hide modal
                });

                playMusic();
                break;


        }
        resetProgressBar();
    }

    function timer() {
        const slideIconImg = document.getElementById("slide-icon-img");
        const images = [
            "{% static 'css/images/number-7.png' %}",
            "{% static 'css/images/number-6.png' %}",
            "{% static 'css/images/number-5.png' %}",
            "{% static 'css/images/number-4.png' %}",
            "{% static 'css/images/number-3.png' %}",
            "{% static 'css/images/number-2.png' %}",
            "{% static 'css/images/number-1.png' %}",
        ];

        let index = 0;

        function updateImage() {
            let timeoutId;
            if (index < images.length && pageId === 5) {
                slideIconImg.src = images[index]; // Update the image source
                index++;
                timeoutId = setTimeout(updateImage, 1000); // Call the next image update after 1 second
            } else if (pageId !== 5) {
            // Stop the update if the pageId is no longer 5
                clearTimeout(timeoutId); // Clear the timeout, stopping the recursion
            }
        }

        updateImage(); // Start the sequence
    }

    // Function to go to the next slide
    function nextSlide() {
        if (pageId < 11) {
            pageId++;
            loadSlideContent();
            resetTimer();
        } else {
            window.location.href = '/home';
        }
    }

    // Function to go to the previous slide
    function prevSlide() {
        if (pageId > 1) {
            pageId--;
            loadSlideContent();
            resetTimer();
        }
    }

    // Reset the timer whenever the user navigates manually
    function resetTimer() {
        clearInterval(slideTimer);
        if (pageId < 0) {
            slideTimer = setInterval(nextSlide, 7000);
        }
    }

    function resetProgressBar() {
        clearInterval(progressBarInterval);
        progressBar.style.width = '0%';
        startProgressBar();
    }

    function startProgressBar() {
        let width = 0;
        progressBarInterval = setInterval(() => {
            if (width >= 100) {
                clearInterval(progressBarInterval);
            } else {
                width++;
                progressBar.style.width = width + '%';
            }
        }, 7000 / 100); 
    }

    // Load the first slide when the page loads
    window.onload = loadSlideContent;
</script>

</body>
</html>