{% extends 'games/base.html' %}

{% block game_head %}
    <script>
const artist = '{{ artist|safe }}'
const acronyms = {{ acronyms|safe }}
const songs = {{ songs|safe }}
let guesses = []
let guessNum = 0

window.onload = start

function start() {
    let first_acronym = document.getElementById('acronym0')
    first_acronym.innerText = acronyms[0]
    let inputForm = document.getElementById('input-form')
    inputForm.addEventListener('submit', guess)
}

function process(name) {
    return name
        .toLowerCase()
        .replaceAll(/[,.-]/g, '')
        .replaceAll('&', 'and')
        .normalize("NFD")
        .replace(/[\u0300-\u036f]/g, "")
}

function guess(event, skip) {
    event.preventDefault()
    let inputElement = document.getElementById('input')
    let rawInput = inputElement.value
    let input = process(rawInput)

    if (input === process(artist)) {
        if (guessNum === 0) {
            revealAnswer(`You got it on the first guess! Outstanding!`, true)
        } else {
            revealAnswer(`You got it in ${guessNum + 1} guesses!`, true)
        }
        return
    }

    if (guesses.includes(input) && input !== '') {
        return
    }

    guesses.push(input.toLowerCase())

    guessNum += 1
    if (guessNum >= 5) {
        revealAnswer('Sorry, you ran out of guesses.', false)
    } else {
        let nextAcronym = document.getElementById('acronym' + guessNum)
        nextAcronym.innerText = acronyms[guessNum]
    }
}

function revealAnswer(message, alert) {
    for (let i = 0; i < 5; i++) {
        let nextAcronym = document.getElementById('acronym' + i)
        nextAcronym.innerText = songs[i]
    }
    let answer = document.getElementById('answer')
    answer.innerText = `The answer was ${artist}!`
    let status = document.getElementById('status')
    status.innerText = message
    let alertElem = document.getElementById('alert')
    if (alert) {
        alertElem.className = "alert alert-success"
    } else {
        alertElem.className = "alert alert-error"
    }
    let tryAgain = document.getElementById('try-again')
    tryAgain.innerText = 'Try again?'
    tryAgain.className = "btn btn-secondary m-2"
    let inputForm = document.getElementById('input-form')
    inputForm.hidden = true
}
    </script>
{% endblock %}

{% block content %}
    <h1 class="text-2xl md:text-5xl font-bold m-2">
        G.T.A.: Guess That Artist
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-xs text-info">
                How To?
            </div>
            <div
                    tabindex="0"
                    class="card compact dropdown-content bg-base-100 rounded-box z-[1] w-40 md:w-80 shadow">
                <div tabindex="0" class="card-body">
                    You get 5 acronyms for an artist's top 5 songs, and you have 5 chances to guess the artist.
                </div>
            </div>
        </div>
    </h1>
    <div class="card bg-base-100 w-3/4 shadow-xl justify-self-center m-2">
        <div class="card-body text-center">
            {% for acronym in acronyms %}
                <h2 class="text-xl md:text-4xl font-bold m-2" id="acronym{{ forloop.counter0 }}"></h2>
            {% endfor %}
        </div>
    </div>

    <form id="input-form">
        <input class="input" type="text" id="input" autocomplete="off" placeholder="Input your guess...">
        <button class="btn btn-primary">Guess</button>
    </form>
    <div id="alert">
        <h1 id="status"></h1>
        <h1 id="answer"></h1>
    </div>
    <h2 id="answer"></h2>
    <p>
        <a href="{% url 'games:gta' %}" id="try-again"></a>
    </p>
{% endblock %}