{% extends 'users/base.html' %}

{% block title %}Update Account Settings{% endblock %}

{% block content %}
    <script lang="js">
const urlText = "{{ duo_invite_link }}";

function copyUrl() {
    navigator.clipboard.writeText(urlText);
    let copyToast = document.getElementById('copy-toast');
    copyToast.hidden = false;
    setTimeout(() => copyToast.hidden = true, 2000);
}
    </script>
{% url 'users:account-settings' as form_url %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success shadow-lg"><span>{{ message }}</span></div>
        {% endfor %}
    {% endif %}
    <h6 class="text-2xl font-bold m-1">
        Account Settings
    </h6>
<div class="flex flex-row">
    <div class="basis-1/2">
        {% if next_page %}
            <form method="post" action="{{ form_url }}?next={{ next_page }}">
        {% else %}
            <form method="post" action="{{ form_url }}">
        {% endif %}
        {% csrf_token %}
        <div class="m-1">
            <label class="input input-bordered flex items-center gap-2">
                Email:
                {{ form.email }}
            </label>
        </div>
        <div class="m-1">
            <label class="input input-bordered flex items-center gap-2">
                Username:
                {{ form.username }}
            </label>
        </div>
        <div class="m-1">
            <label class="input input-bordered flex items-center gap-2">
                First Name:
                {{ form.first_name }}
            </label>
        </div>
        <div class="m-1">
            <label class="input input-bordered flex items-center gap-2">
                Last Name:
                {{ form.last_name }}
            </label>
        </div>
        <input class="btn m-1 btn-neutral" type="submit" value="Update Account Settings">
        </form>
    </div>
    <div class="flex flex-col basis-1/2">

        <a class="btn m-1 btn-neutral" href="{% url 'users:password-change' %}">Change Password</a>

        <form class="btn m-1 btn-neutral" method="post" action="{% url 'users:link-spotify' %}">
            {% csrf_token %}
            <button class="grow h-full" type="submit" value="link" name="action">Link Spotify Account</button>
        </form>

        <form class="btn m-1 btn-error" method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <input class="grow h-full" type="submit" value="Log Out">
        </form>

    </div>
</div>
    <h6 class="text-2xl font-bold m-1">
        Invite URL
    </h6>
<div class="flex flex-row">
    <div class="basis-1/2">
        <div class="m-1">
            <label id="input-label" class="input input-bordered flex items-center gap-2" onmousedown="copyUrl()">
                Invite URL: {{ duo_invite_link }}
            </label>
            <label id="copy-toast" hidden="hidden" class="input gap-2">
                Copied to clipboard!
            </label>
        </div>
    </div>
    <div class="flex flex-col basis-1/2">

        <form class="btn m-1 btn-neutral" method="post" action="{% url 'users:rotate-invite-token' %}">
            {% csrf_token %}
            <input class="grow h-full" type="submit" value="Rotate Invite Token">
        </form>

    </div>
</div>
{% endblock %}