{% extends 'users/base.html' %}

{% block title %}Update Account Settings{% endblock %}

{% block content %}
    {% url 'users:account-settings' as form_url %}
    {% include 'users/form.html' with header_text="Update Account Settings" %}
    <a href="{% url 'users:password-change' %}">Change Password</a>
    <form method="post" action="{% url 'users:link-spotify' %}">
        {% csrf_token %}
        <button type="submit" value="link" name="action">Link Spotify Account</button>
    </form>
    <form method="post" action="{% url 'users:rotate-invite-token' %}">
        {% csrf_token %}
        <input type="submit" value="Rotate Invite Token">
    </form>
{% endblock %}