{% extends 'common/base.html' %}

{% block content %}
    <h1>Hello, {{ user.username }}!</h1>
    <p>
        Duo-Wrapped invite link: <a href="{{ duo_invite_link }}">{{ duo_invite_link }}</a>
        <br>
        <a href="{% url 'users:account-settings' %}">Account Settings</a>
    </p>
    <form method="post" action="{% url 'home:home' %}">
        {% csrf_token %}
        <button type="submit" value="topItems" name="action">Get User Data</button>
    </form>
    <div>
        {% for wrap in wraps %}
            <h2>{{ wrap.public|yesno:"Public Wrapped, Wrapped" }}</h2>
            <p><strong>Created by:</strong> {{ wrap.creator1.user.username }}{% if wrap.creator2 %} and {{ wrap.creator2.user.username }}{% endif %}</p>
            <p><strong>Created at:</strong> {{ wrap.time_created|date:"Y-m-d H:i:s" }}</p>
            <p><strong>Caption:</strong> {% if wrap.caption %}"{{ wrap.caption }}"{% else %}No caption{% endif %}</p>

            <strong>Content:</strong>
            <ol>
                {% for key, value in wrap.content.items %}
                    <li>
                        <strong>Artist:</strong> {{ value.artist.name }}<br>
                        <strong>Genres:</strong> {{ value.artist.genres|join:", " }}<br>
                        <strong>Track:</strong> {{ value.track.name }}<br>
                        {% if value.track.preview_url %}
                            <a href="{{ value.track.preview_url }}" target="_blank">Preview Track</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>
{% endblock %}