{% extends 'home/base.html' %}

{% block content %}
    {% if same_user %}
        <h1>Duo-Wrapped Invite Link</h1>
        <p>
            Send this to other people to create a Duo-Wrapped and share your music taste!
        </p>
    {% else %}
        <h1>{{ duo1.username }} and {{ duo2.username }}'s Duo-Wrapped</h1>
        <p>
            You have been invited to participate in a Duo-Wrapped with {{ other.username }}!
        </p>
        <form method="post" action="{% url 'home:create-duo-wrapped' %}">
            {% csrf_token %}
            <input id="invite_token" type="hidden" name="invite_token" value="{{ invite_token }}">
            <input type="submit" value="Create Duo-Wrapped">
        </form>
    {% endif %}
{% endblock %}