{% load humanize %}
{% comment %}
    wrap = Wrap whose thumbnail is being displayed
    show_public = Whether private wraps will be displayed
{% endcomment %}

<div class="card bg-base-100 flex flex-col items-center" style="padding: 15px">
    <div class="card-body w-full">
    <div class="card-title text-center justify-between w-full">
        <div class="btn btn-circle btn-sm btn-ghost"></div>
        <h2>
            {% if wrap.creator2 %}
                {{ wrap.creator1 }} + {{ wrap.creator2 }}
            {% else %}
                {{ wrap.creator1 }}
            {% endif %}
        </h2>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-circle btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                </svg>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-300 rounded-box z-[1] w-fit p-2 shadow">
                <li>
                    <form class="m-1" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="wrap_id" value="{{ wrap.id }}">
                        <button type="submit" value="publish" name="action">
                            {% if wrap.public %}
                                Unpublish
                            {% else %}
                                Publish
                            {% endif %}
                        </button>
                    </form>
                </li>
                <li>
                    <form class="m-1" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="wrap_id" value="{{ wrap.id }}">
                        <button type="submit" value="share" name="action">Share</button>
                    </form>
                </li>
                <li>
                    <form class="m-1" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="wrap_id" value="{{ wrap.id }}">
                        <button type="submit" value="delete" name="action">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full h-full my-1.5">
        <div class="text-lg font-extrabold">Top Artists:</div>
        {% if wrap.creator2 %}
            <ul>
                {% with wrap.content.duo1.artists|first as top_artist %}
                    <li><strong>{{ wrap.creator1 }}</strong>: {{ top_artist.name }}</li>
                {% endwith %}
                {% with wrap.content.duo2.artists|first as top_artist %}
                    <li><strong>{{ wrap.creator2 }}</strong>: {{ top_artist.name }}</li>
                {% endwith %}
            </ul>
        {% else %}
            <ol>
                {% for artist in wrap.content.artists|slice:":3" %}
                    <li>{{ artist.name }}</li>
                {% endfor %}
            </ol>
        {% endif %}
    <br>
        <div class="text-lg font-extrabold">Top Tracks:</div>
        {% if wrap.creator2 %}
            <ul>
                {% with wrap.content.duo1.tracks|first as top_track %}
                <li><strong>{{ wrap.creator1 }}</strong>: {{ top_track.name }}</li>
                {% endwith %}
                {% with wrap.content.duo2.tracks|first as top_track %}
                    <li><strong>{{ wrap.creator2 }}</strong>: {{ top_track.name }}</li>
                {% endwith %}
            </ul>
        {% else %}
            <ol>
                {% for artist in wrap.content.tracks|slice:":3" %}
                    <li>{{ artist.name }}</li>
                {% endfor %}
            </ol>
        {% endif %}
    <br>
    </div>

    <a href="{% url 'slides:slide' wrap.id 1 %}" class="btn btn-accent">
        {% if wrap.public %}
            Play
        {% else %}
            Replay
        {% endif %}
    </a>

    <div class="justify-self-end pt-1 text-center">
        <p class="text-sm text-gray-500">
            {{ wrap.time_created|naturaltime }}
            {% if show_public %}
                - {% if wrap.public %} Public {% else %} Private {% endif %}
            {% endif %}
        </p>
    </div>
    </div>
</div>